@font-face {
    font-family: 'Gilroy';
    src: url('fonts/gilroy-regular-webfont.woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'GilroyBold';
    src: url('fonts/gilroy-semibold-webfont.woff');
    font-weight: bold;
    font-style: normal;
}

* {
    padding: 0;
    margin: 0;
}

body {
    background: #dae0e0;
    height: 100%;
}

#header {
    height: 10vh;
    width: 100%;
    background: #ffffff;
    float: left
}

canvas {
    margin: 20px;
    border: 1px solid #999999;
    float: left;
}

img {
    padding-left: 1%;
    width: auto;
    height: 95%;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    float: left
}

.h1 {
    font-family: 'GilroyBold';
    text-align: center;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    width: 50%;
    margin: 0 auto;
}

.name {
    font-family: 'GilroyBold';
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    margin-left: 5px;
    float: left;
}

.mTop {
    margin-top: 5px;
}

#mainButton {
    font-size: larger;
    width: 40%;
}

.footer {
    font-style: italic;
    text-align: right;
    height: 5%;
    position: absolute;
    top: 97%;
    left: 50%;
    transform: translateX(-50%);
}

input {
    font-family: 'Gilroy';
    font-size: large;
}

#mainButton {
    font-family: 'Gilroy';
    font-size: small;
}

#info {
    font-family: 'Gilroy';
    font-size: x-large;
    margin-top: 10%;
    margin-left: 10px;
    float: left;
}